<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Developer" content="Vesa Vänskä" />
    <meta name="Author" content="Vesa Vänskä" />
    <title>{{ page.title }}</title>
    <link href="http://feeds.feedburner.com/vesavanska" rel="alternate" title="Vesa Vänskä's feed" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  </head>
  
  <body id="page">
    <div id="wrapper">
      {{ content }}
      
      <p class="copyright">Copyright © 2009–2010 Vesa Vänskä</p>
      
      <div id="sidebar">
        <h2><a href="/">Vesa Vänskä</a></h2>
        
        <p>I'm 20-something Ruby developer living in Helsinki working for <a href="http://idealistdigital.fi">Idealist Digital</a>.</p>
        
        <p>You can contact me at vesa@idealistdigital.fi.</p>
        
        <ul>
          <li><a href="http://feeds.feedburner.com/vesavanska">feed</a></li>
          <li><a href="http://vesan.github.com/archive/">archive</a></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-12958559-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>