<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Developer" content="Vesa Vänskä" />
    <meta name="Author" content="Vesa Vänskä" />
    <title>{{ page.title }}</title>
    <link href="http://vesan.github.com/atom.xml" rel="alternate" title="Vesa Vänskä's feed" type="application/atom+xml" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <style type="text/css" media="screen">
    <!--
      body { background: #000; color: #fff; font: 12px verdana, sans-serif; }
      h1 { font: 200% georgia,times,serif; }
      #wrapper { margin: 30px; }
    -->
    </style>
  </head>
  
  <body id="page">
    <div id="wrapper">
      {{ content }}
    </div>
  </body>
</html>