---
layout: default
---
<div id="content" class="post">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>

  <div class="post_information">
    {{ page.date | date_to_string | upcase }}
  </div>
  
  {{ content }}

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* var disqus_developer = true; */
    var disqus_identifier = "{{ page.id }}";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://vesavanska.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=vesavanska">comments powered by Disqus.</a></noscript>
</div>
